/*
h2{
    text-decoration: dotted underline;
}
.odd{
    background-color:hotpink;
    color:whitesmoke;
    font-family: "consolas",sans-serif;
    font-size: 20px;
    border-style: inset;
}
.even{
    background-color: aqua;
    color: darkred;
    font-family:nanum bursh script;
    font-size: 20px;
    border-style: inset;
    border-radius: 20px;
}
#name{
    border-top-style: double;
    border-bottom-style: groove;
    border-left-style:inset;
    border-right-style: ridge;
    border-top-color: yellow;
    border-bottom-color: green;
    border-left-color: brown;
    border-right-color: tomato;
    border-left-width: 5px;
    border-radius: 10px;
    border-top-left-radius: 25px;
    border-bottom-style: dotted;
}
.world{
    background: linear-gradient(to right,rgb(24, 235, 42),orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 1px solid;
}

h2{
    text-align: center;
    background: linear-gradient(to right,white,lightgreen,rgba(255, 0, 234, 0.575));
}
h2:hover{
    background: linear-gradient(to left,white,lightgreen,rgba(255,0,234,0.575));
}
.new{
    background: linear-gradient(to right,rgb(255, 165, 0),whitesmoke,blue);
}
.new:hover{
    background: linear-gradient(to left,rgb(255, 165, 0),whitesmoke,blue);
}
body{
    background-image: url("money.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
    
body{
    margin: 0px;
}
#box1{
    border: 2px solid  black;
    width: 200px;
    height: 200px;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 10px;
background-color: chocolate;
margin-left: 20px;
padding: 20px;

}
#box2{
    border: 2px solid black ;
    width: 200px;
    height: 200px;
    font-size: 18px;
    background-color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}
*/
.box{
    border: 1px solid;
    width: 90px;
    height: 40px;
    text-align: center;
    background: yellowgreen;
    float: left;
    align-items: center;
    padding: 20px;
}
p{
    clear: both;
}
